<table style="height: 144px;">
  <tr>
    <td class="tile-symbol">Error</td>
  </tr>
  <tr>
    <td style="font-size: 16px">
      <span style="color:#e8c0bb" data-hook="message" class="secondary-foreground"></span>
    </td>
  </tr>
  <tr style="height: 20px;">
    <td>
      <a style="color: white;" data-hook="dismiss">Done</a>
    </td>
  </tr>
</table>