<table data-hook="execute">
	<tr>
		<td class="secondary-foreground" style="font-size: 16px" data-hook="direction"></td>
	</tr>
	<tr>
		<td style="width: 100%;">
		  <span data-hook="bigFigures" class="secondary-foreground" style="font-size: 18px;"></span>
		  <span data-hook="pips" class="primary-foreground" style="font-size: 48px;"></span>
		  <span data-hook="tenthOfPips" class="secondary-foreground" style="font-size: 18px"></span>
		</td>
	</tr>
</table>